@charset "utf-8";


$pt-font-family: "Yu Gothic UI", "Meiryo UI", sans-serif;
$pt-font-family-monospace: monospace;


@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";

@import "./page/dashboard-page.scss";
@import "./page/save-page.scss";


* {
  outline: none !important;
}

body {
  background-color: $pt-app-background-color;
  user-select: none;
}

*::-webkit-scrollbar {
  width: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-track {
  background-color: $pt-app-background-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $tag-default-color;
  border-radius: $pt-grid-size * 0.5;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba($tag-default-color, 1 - 0.15);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba($tag-default-color, 1 - 0.3);
}

.bp3-popover-target {
  width: 100%;
}

.zp-root {
  padding: $pt-grid-size * 1.5;
  padding-top: $pt-grid-size * 2;
  padding-bottom: $pt-grid-size * 2;
}

.zp-navbar-root {
  padding-top: $pt-navbar-height + $pt-grid-size * 2;
}