@charset "utf-8";


$pt-font-family: "Yu Gothic UI", "Meiryo UI", sans-serif;
$pt-font-family-monospace: monospace;


@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";


* {
  user-select: none;
  outline: none !important;
}

body {
  padding-top: $pt-navbar-height;
}

.bp3-popover-target {
  width: 100%;
}

.root {
  padding: $pt-grid-size * 1.5;
  padding-top: $pt-grid-size * 2.5;
  padding-bottom: $pt-grid-size * 2.5;
}

.zp-title {
  margin-bottom: $pt-grid-size * 1.5;
}

.zp-title >h2 {
  margin: 0px;
}

h5.zp-heading {
  margin-bottom: $pt-grid-size * 1.5;
}

.zp-right-margin {
  margin-right: $pt-grid-size * 1;
}

.zp-no-margin {
  margin: 0px;
}

.zp-divider {
  margin-top: $pt-grid-size * 2;
  margin-bottom: $pt-grid-size * 2;
  margin-left: 0px;
  margin-right: 0px;
}

.zp-vert-group {
  display: flex;
  flex-direction: column;
}

.zp-vert-group >*:not(:first-child):not(:last-child) >* {
  border-radius: 0px;
}

.zp-vert-group >*:first-child >* {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.zp-vert-group >*:last-child >* {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.zp-vert-group >*:not(:first-child) {
  margin-top: -$button-border-width;
}