@charset "utf-8";


.zp-heading {
  margin-bottom: $pt-grid-size * 1.5;
}

.zp-right-margin-button {
  margin-right: $pt-grid-size * 1;
}

.zp-no-margin {
  margin: 0px;
}

.zp-divider {
  margin-top: $pt-grid-size * 2;
  margin-bottom: $pt-grid-size * 2;
  margin-left: 0px;
  margin-right: 0px;
}

.zp-vertical-group {
  display: flex;
  flex-direction: column;
}

.zp-vertical-group >*:not(:first-child):not(:last-child) >* {
  border-radius: 0px;
}

.zp-vertical-group >*:first-child >* {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.zp-vertical-group >*:last-child >* {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.zp-vertical-group >*:not(:first-child) {
  margin-top: -$button-border-width;
}

.zp-justify {
  text-align: justify;
}